  {{#if error.status}}
    <p>{{error.message}}</p>
  {{/if}}
  <div>
    <h1>Perfil</h1>
    <div class="user_info">
      {{#with userData}}
      <p>Nombre: {{first_name}}</p>
      <p>Apellido: {{last_name}}</p>
      <p>Email: {{email}}</p>
      <p>Edad: {{age}}</p>
      {{/with}}
    </div>
    <a href="/logout">Log Out</a>
  </div>