{{#if error.status}}
  <p>{{error.message}}</p>
{{/if}}
<div>
  <h1>¡¡Bienvenido!!</h1>
  <div class="user_info">
    {{#with userData}}
      <h3>{{first_name}}</h3>
      <h3>{{last_name}}</h3>
      <p>Tu nivel de permiso es: {{role}}</p>
    {{/with}}
  </div>
  <a href="/logout">Log Out</a>
  <button onclick="location.href='/perfil'">Perfil</button>
</div>
<div>
  {{#each productos}}
    <h3>Title: {{title}}</h3>
    <P>Descripción: {{description}}</P>
    <p>Price: {{price}}</p>
    <p>Thumbnail: {{thumbnail}}</p>
    <p>Code: {{code}}</p>
    <p>Stock: {{stock}}</p>
    <p>Status: {{status}}</p>
    <p>Category: {{category}}</p>
  {{/each}}
</div>